[package]
name = "atm0s-media-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing-subscriber = { workspace = true }
clap = { workspace = true, features = ["env", "derive"] }
log = { workspace = true }
rand = { workspace = true }
prost = { workspace = true }
poem = { version = "3.0", features = ["static-files"] }
poem-openapi = { version = "5.0", features = ["swagger-ui"] }
rust-embed = { version = "8.0", features = ["compression"], optional = true }
tokio = { workspace = true, features = ["full"] }
sans-io-runtime = { workspace = true }
atm0s-sdn = { workspace = true }
media-server-protocol = { path = "../packages/protocol", features = ["quinn-rpc"] }
media-server-secure = { path = "../packages/media_secure" }
media-server-runner = { path = "../packages/media_runner", optional = true }
media-server-gateway = { path = "../packages/media_gateway", optional = true }
media-server-connector = { path = "../packages/media_connector", optional = true }
media-server-record = { path = "../packages/media_record", default-features=false, optional = true }
media-server-utils = { path = "../packages/media_utils", optional = true }
media-server-multi-tenancy = { path = "../packages/multi_tenancy", optional = true }
rtpengine-ngcontrol = { path = "../packages/rtpengine_ngcontrol", optional = true }
local-ip-address = "0.6"
serde = { version = "1.0", features = ["derive"] }
quinn = { version = "0.11", optional = true }
rustls = { version = "0.23", optional = true }
convert-enum = { workspace = true }
num_enum = { workspace = true }
derive_more = { workspace = true, features = ["full"] }
rcgen = { version = "0.13", optional = true }
maxminddb = { version = "0.24", optional = true }
sysinfo = { version = "0.31", optional = true }
hex = { version = "0.4", optional = true }
mime_guess = { version = "2.0", optional = true }
sentry = "0.34"

[features]
default = ["console", "gateway", "media", "connector", "cert_utils"]
gateway = ["media-server-gateway", "media-server-connector", "quinn_vnet", "node_metrics", "maxminddb", "rust-embed", "media-server-multi-tenancy"]
media = ["media-server-runner", "media-server-record", "quinn_vnet", "node_metrics", "rtpengine-ngcontrol"]
console = []
connector = ["quinn_vnet", "media-server-connector", "media-server-utils", "media-server-multi-tenancy"]
cert_utils = ["rcgen", "rustls"]
quinn_vnet = ["rustls", "quinn"]
node_metrics = ["sysinfo"]
embed_static = ["rust-embed", "hex", "mime_guess"]
