[package]
name = "media-server-connector"
version = "0.1.0"
edition = "2021"

[dependencies]
log = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
media-server-protocol = { path = "../protocol" }
media-server-utils = { path = "../media_utils" }
atm0s-sdn = { workspace = true }
prost = { workspace = true }
lru = "0.12"
async-trait = "0.1"
sea-orm-migration = "1.1.0-rc.1"
sea-orm = { version = "1.1.0-rc.1", features = [
    "sqlx-sqlite",
    "sqlx-postgres",
    "sqlx-mysql",
    "runtime-tokio-rustls",
] }
sea-query = "0.31"
serde_json = "1.0"
s3-presign = "0.0.2"
uuid = {version = "1.10.0", features = ["fast-rng", "v7"]}

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
