[package]
name = "atm0s-media-server-record"
version = "0.1.0-alpha.4"
authors = ["Giang Minh <giang.ndm@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Media Record Component for Atm0s Media Server"

[dependencies]
media-server-protocol = { workspace = true }
media-server-multi-tenancy = { workspace = true, optional = true }
media-server-utils = { workspace = true }
media-server-connector = { workspace = true, optional = true }
media-server-secure = { workspace = true, optional = true }
media-server-codecs = { workspace = true, optional = true }

log = { workspace = true }
tokio = { workspace = true, features = ["sync", "fs"] }
rand = { workspace = true }
reqwest = { workspace = true, features = ["stream"] }
tokio-util = { workspace = true }
rusty-s3 = { workspace = true }
futures = { workspace = true }
bytes = { workspace = true }
surf = { workspace = true }
tracing-subscriber = { workspace = true, optional = true }
webm = { workspace = true, optional = true }
rtp = { workspace = true, optional = true }
clap = { workspace = true, features = ["env", "derive"], optional = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
poem = { workspace = true, features = ["static-files"], optional = true }
poem-openapi = { workspace = true, features = ["swagger-ui"], optional = true }
chrono = { workspace = true, optional = true }
openssl = { workspace = true, features = ["vendored"], optional = true }

[features]
default = ["convert_record", "convert_worker"]
convert_record = [
    "tokio/full",
    "tracing-subscriber",
    "webm",
    "rtp",
    "clap",
    "chrono",
    "openssl",
    "media-server-codecs/opus",
]
convert_worker = [
    "tokio/full",
    "tracing-subscriber",
    "clap",
    "convert_record",
    "poem",
    "poem-openapi",
    "media-server-multi-tenancy",
    "media-server-connector",
    "media-server-secure",
    "media-server-codecs/opus",
]

[dev-dependencies]
tokio = { version = "1", features = ["full"] }

[[bin]]
name = "convert_record_cli"
path = "./bin/convert_record_cli.rs"
required-features = ["convert_record"]

[[bin]]
name = "convert_record_worker"
path = "./bin/convert_record_worker.rs"
required-features = ["convert_record", "convert_worker"]
